
.my-btn {

    height: 50px;
    width: 100px;

    background-color: blue;
    color: red;

}

.my-btn:hover {

    background-color: red;
    color: blue;

    transition: 0.5s;

}

.transformed-div {

    width: 200px;
    height: 200px;

    margin: 50px 0 0 50px;

    background-color: blue;

    transform: rotate(45deg) scale(0.5);

}

.animated-div {

    position: relative;

    width: 200px;
    height: 200px;

    margin: 50px 0 0 50px;

    background-color: blue;

    animation-name: my-animation;
    animation-duration: 10s;
    animation-iteration-count: 2;

}

@keyframes my-animation {
    
    0% {
        transform: rotate(0deg);
        left: 0;
        top: 0;
    }

    50% {
        transform: rotate(90deg) scale(0.5);
        background-color: red;
        left: 300px;
        top: 0;
    }

    100% {
        transform: rotate(180deg);
        left: 0;
        top: 0;
    }

}

.container {
    width: 100%;
    height: 600px;

    display: flex;

    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;

    border: 1px solid;
}

.item {

    width: 200px;
    height: 100px;
    border: 1px solid;
    
    color: white;
    background-color: red;

}

#item-4 {
    order: 0;
    flex-grow: 4;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }
}
