
.form-container {

    width: 50%;
    padding: 30px;

    margin: auto;

    border: 2px solid black;
    background-color: aquamarine;

}

.form-item {
    width: 100%;
    /* overflow: hidden; */
}

.form-item input, select, textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.form-item label {
    display: block;
}

.footer {

    margin-top: 20px;

    display: flex;

    justify-content: space-between;

}
